@charset "UTF-8";
/* CSS Document */
body {
  background-color: #F0F0F0;
}
ul {
  list-style-type: none;
}
li a {
  text-decoration: none;
  color: #000;
}
img {
  width: 100%;
}
.wrapper {
  width: 1000px;
  margin: 0 auto;
}
h1 {
  font-size: 2.5rem;
  font-weight: normal;
  letter-spacing: 10px;
}
/*header*/
#header {
  margin: 10px 0 10px 0;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 0 50px;
  height: 80px;
}
nav p {
  background-color: #000;
  color: #fff;
  padding: 40px 10px 40px 30px;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 3px; /* 子要素の間にスペース */
}
li {
  justify-content: flex-start;
  padding: 10px;
}
nav img {
  width: 80px;
}
/*main*/
section {
  margin: 60px 0 60px 0;
}
#about img, #conpany img {
  height: 400px;
}
/*news*/
#news {
  margin-top: 100px;
}
.about {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 2;
}
.about p {
  border-left: 2px solid #000;
  padding-left: 10px;
}
.about p:first-child {
  border-left: none;
}
.about span {
  background-color: #000;
  color: #fff;
}
/*about*/
#about {
  display: flex;
  align-items: center;
}
#about img {
  width: 60%;
  height: 400px;
  margin-right: 100px;
}
.title {
  margin-bottom: 100px;
}
.box {
  margin-top: 130px;
}
#about p {
  line-height: .5;
}
.line {
  width: 10%;
  margin-top: 50px;
}
/*ビジネス*/
.container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2列に分割 */
  gap: 100px; /* 各写真の間隔 */
}
.container img{
  display: block;
  height: 50%;
}
.photo {
  width: 100%; /* 各写真の幅を調整 */
  aspect-ratio: 1 / 1; /* 正方形にする場合 */
  object-fit: cover;
  line-height: 1;
}
/* 1列目の写真を下げる */
.photo:nth-child(odd) {
  margin-top: 180px; /* 下げる量を調整 */
}
/*COMPANY*/
#conpany{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#conpany img{
  position: absolute;
  right: 0;
  width: 50%;
}
table{
  margin-top: 40px;
background-color: #fff;
}
.company{
  position: relative;
  background-color: #fff;
  width: 59%;
  padding: 100px 50px 100px 40px;
}
tr{
  padding-bottom: 1rem;
}
/*footer*/